
<%= render "layouts/navbar_for_additional_pages"%>

            <div class="container" style="height:100%;">
                    <!--Secion heading-->
                    <h1 class="section-heading my-5 py-5 font-bold wow fadeIn" data-wow-delay="0.2s">Hazing</h1>
    
                        <p class="section-description" style="text-align:left" data-wow-delay="0.2s">
                        Pi Beta Chi, a collegiate fraternal organization promoting our Four Pillars of Brotherhood, Character, Leadership, and Freedom stands against hazing.  
                        </p>
            </div>
        
    <%= render "layouts/footer" %>