
<%= render "layouts/navbar_for_additional_pages"%>

            <div class="container" style="height:100%;">
                <!--Secion heading-->
                <h1 class="text-center font-up font-bold mt-5 mb-3 pt-5 wow fadeIn" data-wow-delay="0.2s">HAZING</h1>

                <!--Section description-->
                <p class="text-left font-bold pb-4 wow fadeIn" data-wow-delay="0.2s">
                Pi Beta Chi is a NON HAZING organization. No chapter, colony, student or alumnus should conduct, participate in or condone hazing activities. Permission or approval by a person being hazed is not a defense. Our definition of hazing is comprised of our insurance policy’s definition of hazing and the hazing definitions of the governments which we operate under. You can read these definitions below.  
                <br><br>
                If you or someone has been hazed, may be hazed in the future, or is in any way threatened by hazing, you should call 911 or your local police department immediately. Additionally, you can call a hazing hotline or visit online resources such as hazingprevention.org and stophazing.org.
                </p>
                
                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s">
                    
                    <!--First column-->
                    <div class="col-md-12 mb-5 pb-4">
                       
                        <!--Accordion wrapper-->
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <h5 class="mb-0">
                                        FIPG Insurance Policy's Definition <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body smooth-scroll">
                                        <p>
                                            Any action taken or situation created, intentionally, whether on or off fraternity premises, to produce mental or physical discomfort, embarrassment, harassment, or ridicule. Such activities may include but are not limited to the following: use of alcohol, paddling in any form, creation of excessive fatigue, physical and psychological shocks, quests, treasure hunts, scavenger hunts, road trips or any other such activities carried on outside or inside of the confines of the chapter house; wearing of public apparel which is conspicuous and not normally in good taste, engaging in public stunts and buffoonery, morally degrading or humiliating games and activities, and any other activities which are not consistent with academic achievement, fraternal law, ritual or policy or the regulations and policies of the educational institution or applicable state law.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h5 class="mb-0">
                                        United States of America's Federal Definition <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        Hazing is defined as an abusive, often humiliating form of initiation into or affiliation with a group, including:
                                        1) Any willful action taken or situation created which recklessly or intentionally endangers the mental or physical health of another.
                                        2) Any willful act by any person alone or acting with others in striking, beating, bruising, or maiming; or seriously offering, threatening, or attempting to strike, beat, bruise, or maim, or to do or seriously offer, threaten, or attempt to do physical violence to another made for the purpose of committing any of the acts.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <h5 class="mb-0">
                                        Commonwealth of Virginia's Definition <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="card-body">
                                        "Hazing" means to recklessly or intentionally endanger the health or safety of a student or students or to inflict bodily injury on a student or students in connection with or for the purpose of initiation, admission into or affiliation with or as a condition for continued membership in a club, organization, association, fraternity, sorority, or student body regardless of whether the student or students so endangered or injured participated voluntarily in the relevant activity.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <h5 class="mb-0">
                                        State of South Carolina's Definition <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="card-body">
                                        "Hazing" means the wrongful striking, laying open hand upon, threatening with violence, or offering to do bodily harm by a superior student to a subordinate student with intent to punish or injure the subordinate student, or other unauthorized treatment by the superior student of a subordinate student of a tyrannical, abusive, shameful, insulting, or humiliating nature.
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="card">
                                <div class="card-header" role="tab" id="headingSix">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        <h5 class="mb-0">
                                        Question 5 <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="card-body smooth-scroll">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                        
                                        <a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                        <!--/Accordion wrapper-->
                        
                    </div>
                    <!--/First column-->
                    
                </div>
                <!--/First row-->
            </div>
        
    <%#= render "layouts/footer" %>