<!--Application-->


<%= render "layouts/navbar_for_additional_pages"%>

            <div class="container" style="height:100%;">
                    <!--Secion heading-->
                    <h1 class="section-heading my-5 py-5 font-bold">Start a Chapter</h1>
    
                        <div>
                            <%= render 'form' %>
                            
                            <%#= link_to 'Back', applications_path %>
                        </div>
            </div>
            </div>
            
 <%= render "layouts/footer" %>