<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sender name: <%= @contact.name %></h1>
    <h2>Sender email: <%= @contact.email %></h2>
    <p>
      Sender message: <%= @contact.message %>
    </p>
  </body>
</html>