/* CSS for site */

/*sets the height of the crest in the navbar*/
#crest{
    height:140px;
}

/*makes the crest smaller when the navbar collapses*/
@media (min-width: 251px) and (max-width: 991px) {
   #crest {
       height:100px;
       margin-top: -50px;
   }
/*makes the nav bar links not sit on top of the logo when the navbar is collapsed. */   
   .navbar-collapse {
       margin-top: 60px;
   }
}

/*makes the crest smaller when the navbar collapses*/
@media (min-width: 1px) and (max-width: 250px) {
   #crest {
       height:100px;
       margin-top: -50px;
   }
/*makes the nav bar links not behind the logo when the navbar is collapsed. */   
   .navbar-toggler-icon {
       margin-top: 60px;
   }
}

/* makes the "about us" header not fall under the main picture when the screen height shrinks below 616px. Without this, these are set to 100% instead of 700px */
@media (max-height: 616px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
    height: 700px; 
    } 
}

/*Makes the H1's be gold*/
h1{
	color: #C2A14D;
	text-transform: uppercase;
}

/*Makes the page breaks be gold*/
hr{
	border-top: 1px solid #C2A14D;
}

/*Makes the text on main image be at the bottom of the page. Note that its div has this in its html: id="picturetextflexcenter"  so that it can be specifically referenced here in the css*/
#picturetextflexcenter{
	align-items: flex-end;
}

/*Brings up the main image text a little bit so its not at the verrrry bottom of the page. Note that its div has this in its html: id="picturetext"  so that it can be specifically referenced here in the css*/
#picturetext{
margin-bottom: 30px;
}

#leftalign{
	text-align: left;
	/*white-space: nowrap;*/
}

.fa{
	 display: inline-block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #5C5B5D;
}

.section h4{
	font-weight: 600;
	color:#5C5B5D;
}

.md-pills .nav-link {
	/*color:#666;*/
	color:#0E305D;
}

.navbar{
	  font-weight: 400;
}

.subtext-header{
	  font-weight: 400;	
}

/*Puts space between the logo in the navbar and the rest of the nav links*/
.navbar a img {
    margin-top: -5px;
    margin-bottom: -100px;
  padding-right: 20px;
}

/*Makes the hazing button red*/
.btn-warning {
    background-color: #720000;
}

.btn-warning.active, .btn-warning:active, .btn-warning:focus, .btn-warning:hover {
    background-color: #a50000!important;
}

.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover {
    background-color: #154789!important;
}

/*Changes the styling of the nav links in the Chapter Resources section. Note that its div has this in its html: id="resourcenav"  so that it can be specifically referenced here in the css*/
#resourcenav{
	padding: 0px;
}

/*Changes the styling of the descriptions in the Chapter Resources section. Note that its div has this in its html: id="resourcedesc"  so that it can be specifically referenced here in the css*/
#resourcedesc{
    margin-top: -2rem!important;
}

/*This media query makes the margin above the chapter resources description be 1.3 instead of 2 when the navs sit on top of the description instead of beside it */
@media (min-width: 1px) and (max-width: 767px) {
    #resourcedesc{
        margin-top: -1.3rem!important;
    }
}

#resourcebutton{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}


/* makes the honey pot divs invisible to humans */
#poneyhot{
    visibility: hidden;
}

/*Changes the styling of the FAQ links in the FAQ section. Note that its div has this in its html: id="faqlink"  so that it can be specifically referenced here in the css*/
#faqlink{
    color: #154789;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /*color: #154789;*/
}

#faqlink:focus{
    color: #0E305D;
}
#faqlink:active{
    color: #0E305D;
}
#faqlink:hover{
    color: #0E305D;
}


/************************for the login form************************/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#inputEmail:focus:not([readonly]) {
    border-bottom: 1px solid #0E305D;
    box-shadow: 0 1px 0 0 #0E305D;
}

#inputEmail:focus {
    border-color: #0E305D;
}

#inputPassword:focus:not([readonly]) {
    border-bottom: 1px solid #0E305D;
    box-shadow: 0 1px 0 0 #0E305D;
}

#inputPassword:focus {
    border-color: #0E305D;
}

#loginButton {
    background-color: #0E305D
}

#loginButton.active, #loginButton:active, #loginButton:focus, #loginButton:hover {
    background-color: #154789!important;
}
