 <!--Section: Blog v.2-->
                <section class="section extra-margins text-center">

                    <h1 class="section-heading my-5 pt-4 pb-4 font-bold">Important announcements</h1>

                    <!--First row-->
                    <div class="row">

                        <!--First column-->
                        <div class="col-lg-4 col-md-12 mb-2 wow fadeIn" data-wow-delay="0.4s">
                            <!--Featured image-->
                            <div class="view overlay hm-white-slight z-depth-1 mb-2">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%282%29.jpg">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Excerpt-->
                            <h4 class="mt-4">This is title of the news</h4>
                            <p>15/07/2016</p>
                            <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor.</p>
                            <a class="btn btn-info">Read more</a>
                        </div>
                        <!--First column-->

                        <!--Second column-->
                        <div class="col-lg-4 col-md-6 mb-2 wow fadeIn" data-wow-delay="0.4s">
                            <!--Featured image-->
                            <div class="view overlay hm-white-slight z-depth-1 mb-2">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2840%29.jpg">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Excerpt-->
                            <h4 class="mt-4">This is title of the news</h4>
                            <p>12/07/2016</p>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                            <a class="btn btn-info">Read more</a>
                        </div>
                        <!--Second column-->

                        <!--Third column-->
                        <div class="col-lg-4 col-md-6 pb-4 mb-5 wow fadeIn" data-wow-delay="0.4s">
                            <!--Featured image-->
                            <div class="view overlay hm-white-slight z-depth-1 mb-2">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2837%29.jpg">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Excerpt-->
                            <h4 class="mt-4">This is title of the news</h4>
                            <p>10/07/2016</p>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt..</p>
                            <a class="btn btn-info">Read more</a>
                        </div>
                        <!--Third column-->

                    </div>
                    <!--First row-->
     
                </section>
                <!--Section: Blog v.2-->