            <!--<hr class="wow fadeIn" data-wow-delay="0.4s">-->
            <!--Section: Information-->
            <section id="faq" class="section mb-4">

                <!--Secion heading-->
                <h1 class="text-center font-up font-bold mt-5 mb-3 pt-5 wow fadeIn" data-wow-delay="0.2s">FAQ</h1>

                <!--Section description-->
                <p class="text-center font-bold pb-4 wow fadeIn" data-wow-delay="0.2s">Information for chapters, brothers, pledges, rushees, alumni, and parents.</p>
                
                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s">
                    
                    <!--First column-->
                    <div class="col-md-12 mb-5 pb-4">
                       
                        <!--Accordion wrapper-->
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <h5 class="mb-0" id="faqlink">
                                        How can I join a Chapter? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body ">
                                        <p>
                                            Our Chapters have “Rush” weeks which happen near the beginning of each Semester and are when we are recruiting new members. Rush consists of several Chapter-hosted events for rushees to attend and meet the Brothers. Such events are pick-up basketball on campus, pizza and sports watching at the house, cookouts and yard games, bowling, social events, etc. You can find our Rush calendars posted around campus, on our Chapter websites, and on social media. At the end of Rush we extend bids (invitations) for the rushees to begin our Pledge Process. Please note that some of our Chapters only have Rush during the Fall semester instead of both semesters. Also, if your school doesn’t have a Pi Beta Chi Chapter, you can start one!
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h5 class="mb-0" id="faqlink">
                                        How can I start a Chapter? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <p>
                                            Pi Beta Chi is always looking to expand and promote our Four Pillars with more Brothers. The process to start a new Chapter is straight forward. The first step is to fill out the application 
                                            <%= link_to "here", new_chapter_application_path%>
                                            to determine if your group is a good fit. A good fit is a group which is motivated to stand out as a top-tier student organization by dutifully serving their community and philanthropies, and by offering plentiful and meaningful leadership opportunities to its members. A good fit is also averse to hazing. 
                                            <br><br>
                                            The next step is that IHQ will contact you to get more information and to prepare a “Motion of Recognition” to send to our Chapters. A Motion of Recognition is when IHQ formally asks each Chapter to vote on whether or not an applying group should become an official Chapter of Pi Beta Chi. The Motion includes all of the information IHQ has about your group and it makes a case for why you should be voted in. A majority of our Chapters must vote in favor of the Motion for it to pass. 
                                            <br><br>
                                            If the Motion passes, then IHQ will collect your membership roster and prorated dues for the current semester. Next, our legal team will do the following: 1) Create your Chapter as a registered non-profit organization with your State. This is what stops anyone from calling you a “gang” or “underground” since you’ll be chartered with your State as an official and legal organization. 2) Register you with the IRS as a non-profit and get you an EIN number which is like a social security number for organizations. This is what allows you to get an organizational bank account and legally collect dues tax-free. 4) Add your Chapter and members to our insurance policies. This is what allows your members to take leadership positions within the Chapter without exposing them to significant legal liability and risk. 5) Work with your Chapter to create its By-Laws, and then review them for any gaps, loopholes, legal exposures, and to make sure they are compliant with your State’s laws.
                                            <br><br>
                                            Once these are complete, you will officially be a Chapter of Pi Beta Chi. You will receive your Charter and IHQ will work with you to build a Chapter website, recruit new members, manage risk, and successfully run your Chapter. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <h5 class="mb-0" id="faqlink">
                                        How much are dues? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="card-body">
                                        <p>
                                            Dues to IHQ are $125 per member per semester. Members include both Brothers and pledges so if a Chapter has 60 Brothers and 10 pledges, then that Chapter’s semester dues to IHQ are (60 + 10) x $125 which equals $8,750. These dues are used to pay for insurance, legal costs, savings, and overhead. Pi Beta Chi’s dues are significantly cheaper and simpler than other organizations who charge up to $700 per member and charge several additional fees such as new member fees, inspection fees, and an annual Chapter fee.
                                        </p>    
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <h5 class="mb-0" id="faqlink">
                                        Does Pi Beta Chi haze? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="card-body">
                                        <p>
                                            Pi Beta Chi is a NON hazing organization and has zero tolerance for any acts or threats of hazing. No chapter, colony, student or alumnus should conduct, participate in or condone hazing activities. You can read our definition and policy on hazing 
                                            <%= link_to "here.", hazing_path %>
                                            If you or someone has been hazed, may be hazed in the future, or is in any way threatened by hazing, you should call 911 or your local police department immediately. Additionally, you can call a hazing hotline or visit online resources such as hazingprevention.org and stophazing.org.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFive">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <h5 class="mb-0" id="faqlink">
                                        What is the pledge process? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="card-body ">
                                        <p>
                                            Our pledge process is an eight week long educational experience which transforms new members in to contributing Brothers and leaders. Through this, pledges learn how their Chapter and national organization work, the many leadership positions, the committee system, how to recruit top-quality new members, risk management, and how to present themselves in both social and professional settings as respectable gentlemen. Each pledge class mimics the structure of their Chapter by having their own Executive Board and committees (like a pledge Brotherhood committee which plans Brotherhood events just for the pledges) so that every pledge obtains real leadership experience even before joining the Chapter.
                                        </p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTen">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                        <h5 class="mb-0" id="faqlink">
                                        Does Pi Beta Chi have insurance? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
                                    <div class="card-body ">
                                        <p>
                                            Yes, Pi Beta Chi has a multimillion dollar insurance policy which covers the national organization, its Chapters, Chapter leaders, Brothers, pledges, and property. 
                                        </p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>                             
                            <div class="card">
                                <div class="card-header" role="tab" id="headingEleven">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                        <h5 class="mb-0" id="faqlink">
                                        Does Pi Beta Chi have legal protection? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven">
                                    <div class="card-body">
                                        <p>
                                            Pi Beta Chi provides several layers of legal protection for its Chapters. The first layer is by registering every Chapter as an official non-profit organization in the State which it operates in. This provides two main protections:  1) It allows a Chapter to operate without the threat of being called an illegal gang, or “underground”, and potentially targeted by law enforcement and the IRS. Instead, it becomes a lawful organization with an IRS issued tax ID number. 2) It allows our Chapter leaders and members to operate without exposing themselves to significant legal liability. This is because the Chapter becomes its own legal entity liable for its operations. If it weren’t an official legal entity, then the members would be the ones liable for it. In short, now the Chapter is what would be sued instead of the individual members. 
                                            <br><br>
                                            The second layer is the fact that all of our Chapters are their own separate registered non-profit organizations and legal entities, as opposed to just having one legal entity for the national organization and all of the Chapters. This way each Chapter is insulated from any legal troubles of another Chapter and vice versa. If a Chapter is sued, then only that Chapter will be sued instead of all the Chapters. 
                                            <br><br>                                            
                                            The third layer is by maintaining a comprehensive insurance policy that includes legal coverage. This means that if a Chapter is sued, then our insurance provider will furnish attorneys and pay their fees. For example, if a Chapter has a fundraiser and converts their house in to a haunted house for Halloween and charges for admission, and someone breaks their ankle running away from something spooky, and they sue the Chapter, then our insurance provider would take over and handle the legal proceedings, and they would pay any resulting judgments.
                                            <br><br>                                            
                                            The fourth layer of legal protection is by having on retainer a national law firm that specializes in non-profit organizations and liability protection. This firm creates our Chapters, reviews our By-Laws regularly, keeps us in good standing with our State governments and the IRS, and advises us when necessary. 
                                        </p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>                            
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwelve">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                        <h5 class="mb-0" id="faqlink">
                                        Is Pi Beta Chi a non-profit organization? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve">
                                    <div class="card-body">
                                        <p>
                                            Each Chapter is its own non-profit organization and is registered as such with the State that they operate in and with the IRS. To be specific, each Chapter is a 501(c)(7) non-profit which is the IRS’ designation for “Social Clubs” that are “organized for pleasure, recreation, and other nonprofitable purposes.” This is the typical designation for Fraternities and Sororities. You can read more about the IRS’ position on 501(c)(7)’s 
                                            <%= link_to "here.", "https://www.irs.gov/pub/irs-tege/eotopicc96.pdf", :target => "_blank"%>
                                        </p>
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>   
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThirteen">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                        <h5 class="mb-0" id="faqlink">
                                        Is Pi Beta Chi a tax exempt organization? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen">
                                    <div class="card-body ">
                                        <p>
                                            The term “tax exempt” means not having to pay income tax. Non-profit organizations registered with the IRS are not required to pay income tax and are therefore tax exempt. Our Chapters are registered 501(c)(7) non-profits with the IRS which are tax exempt per IRS code 501(a). This means that dues, fees, and funds raised for the Chapter are not taxed by the IRS.
                                        </p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>     
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFourteen">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                        <h5 class="mb-0" id="faqlink">
                                        Is Pi Beta Chi a tax deductible organization? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseFourteen" class="collapse" role="tabpanel" aria-labelledby="headingFourteen">
                                    <div class="card-body ">
                                        <p>
                                            An organization is “tax deductible” if an individual can make a charitable donation to that organization and the individual can then reduce the amount of the donation from their taxable income. Of the twenty eight different types of non-profit organizations established under IRS code 501(c), only the 501(c)(3) type is tax deductible. Our Chapters are of the 501(c)(7) type which is for Social Clubs and are therefore not tax deductible. However, the philanthropy and charity organizations that we fundraise for are often tax deductible 501(c)(3) organizations. This means that donators can often donate directly to these organizations instead of through a Chapter and reduce their taxable income while still directly supporting our fundraising initiatives.
                                        </p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>            
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFifteen">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                        <h5 class="mb-0" id="faqlink">
                                        How exclusive can a Chapter be? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseFifteen" class="collapse" role="tabpanel" aria-labelledby="headingFifteen">
                                    <div class="card-body ">
                                        <p>
                                            Per the IRS, social clubs may not discriminate on the basis of “race, color, or religion” in determining their members. Doing so would jeopardize the organization’s non-profit status. However, social clubs may consider anything else when determining membership such as gender, age, and education level.
                                        </p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <!--/Accordion wrapper-->
                        
                    </div>
                    <!--/First column-->
                    
                </div>
                <!--/First row-->
                </div>
            </section>
            <!--/Section: faq-->