            <!--<hr class="wow fadeIn" data-wow-delay="0.4s">-->
            <!--Section: Information-->
            <section id="faq" class="section mb-4">

                <!--Secion heading-->
                <h1 class="text-center font-up font-bold mt-5 mb-3 pt-5 wow fadeIn" data-wow-delay="0.2s">FAQ</h1>

                <!--Section description-->
                <p class="text-center font-bold pb-4 wow fadeIn" data-wow-delay="0.2s">Information for chapters, brothers, pledges, rushees, alumni, and parents.</p>
                
                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s">
                    
                    <!--First column-->
                    <div class="col-md-12 mb-5 pb-4">
                       
                        <!--Accordion wrapper-->
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <h5 class="mb-0">
                                        How can I join a Chapter? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body smooth-scroll">
                                        <p>Information coming soon.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h5 class="mb-0">
                                        How can I start a Chapter? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        Information coming soon.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <h5 class="mb-0">
                                        How much are dues? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="card-body">
                                        Information coming soon.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFour">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <h5 class="mb-0">
                                        Do you haze? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="card-body">
                                        Information coming soon.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingFive">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseSix">
                                        <h5 class="mb-0">
                                        What is the pledge process? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="card-body smooth-scroll">
                                        <p>Information coming soon.</p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="card">
                                <div class="card-header" role="tab" id="headingSix">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        <h5 class="mb-0">
                                        What is an off-campus Fraternity? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="card-body smooth-scroll">
                                        <p>Information coming soon.</p>
                                    </div>
                                </div>
                            </div>                            
                            <div class="card">
                                <div class="card-header" role="tab" id="headingSeven">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSix">
                                        <h5 class="mb-0">
                                        Why are your Chapters off-campus? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="card-body smooth-scroll">
                                        <p>Information coming soon.</p>
                                    </div>
                                </div>
                            </div>                            
                            <div class="card">
                                <div class="card-header" role="tab" id="headingEight">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseSix">
                                        <h5 class="mb-0">
                                        How does being off-campus affect your members? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                                    <div class="card-body smooth-scroll">
                                        <p>Information coming soon.</p>
                                    </div>
                                </div>
                            </div>   
                            <div class="card">
                                <div class="card-header" role="tab" id="headingNine">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        <h5 class="mb-0">
                                        Is it safe to join an off-campus Fraternity? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
                                    <div class="card-body smooth-scroll">
                                        <p>Information coming soon.</p>
                                    </div>
                                </div>
                            </div>  
                            -->
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTen">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                        <h5 class="mb-0">
                                        Does Pi Beta Chi have insurance? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
                                    <div class="card-body smooth-scroll">
                                        <p>Information coming soon.</p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>                             
                            <div class="card">
                                <div class="card-header" role="tab" id="headingEleven">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseSix">
                                        <h5 class="mb-0">
                                        Does Pi Beta Chi have legal protection? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven">
                                    <div class="card-body smooth-scroll">
                                        <p>Information coming soon.</p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>                            
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwelve">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseSix">
                                        <h5 class="mb-0">
                                        Is Pi Beta Chi a non-profit organization? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve">
                                    <div class="card-body smooth-scroll">
                                        <p>Information coming soon.</p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>   
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThirteen">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseSix">
                                        <h5 class="mb-0">
                                        Is Pi Beta Chi a tax exempt organization? <i class="fa fa-angle-down rotate-icon"></i>
                                    </h5>
                                    </a>
                                </div>
                                <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen">
                                    <div class="card-body smooth-scroll">
                                        <p>Information coming soon.</p>
                                        
                                        <!--<a href="#booknow" class="btn btn-primary btn-rounded">Lorem Ipsum!</a>-->
                                    </div>
                                </div>
                            </div>                             
                        </div>
                        <!--/Accordion wrapper-->
                        
                    </div>
                    <!--/First column-->
                    
                </div>
                <!--/First row-->
                </div>
            </section>
            <!--/Section: faq-->