<!--Footer-->
    <footer class="page-footer center-on-small-only mdb-color darken-3">

        <!--Footer Links-->
        <div class="container-fluid">
           
            <!--First row-->
            <div class="row " data-wow-delay="0.2s">

                <!--First column-->
                <div class="col-md-12 text-center mb-3 mt-3">
                    
                    <!--Icon-->
                    <i class="fa fa-mortar-board fa-4x" style="color:#c2a14d;"></i>
                    <!--Title-->
                    <h2 class="mt-3 mb-3">Join Us</h2>
                    <!--Description-->
                    <p class="white-text mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <!--Reservation button-->
                    
                    <%= link_to "Start a Chapter", new_chapter_application_path, class: "btn btn-info"%>
                    <%= link_to "Contact Us", new_contact_path, class: "btn btn-info"%>
                    <%#= link_to "Stop Hazing", hazing_path, class: "btn btn-warning" %>
                    <%= link_to "Stop Hazing", index_path, class: "btn btn-warning" %>
                    
                    <%#= link_to "Start a Chapter", index_path, class: "btn btn-info"%>
                    <%#= link_to "Contact Us", index_path, class: "btn btn-info"%>
                    <%#= link_to "Stop Hazing", index_path, class: "btn btn-warning" %>
                    
                </div>
                <!--First column-->
            

            </div>
            <!--First row-->

        </div>
        <!--Footer Links-->


        
    </footer>
    <!--Footer-->