    <!--Navigation & Intro-->
    <header>

        <%= render "layouts/navbar" %>
        
        <!-- Intro Section -->
        <!--<div id="home" class="view hm-black-strong-1 jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://mdbootstrap.com/images/regular/city/img%20(41).jpg');">-->
        <div id="home" class="view hm-black-strong-1 jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('assets/NatchezBestLetters');">
            <div class="full-bg-img">
                <div class="container flex-center" id="picturetextflexcenter">
                    <div class="row smooth-scroll">
                        <div class="col-md-12 white-text text-center" id="picturetext">
                            <div class="wow fadeInDown" data-wow-delay="0.4s">
                                <h2 class="display-3 font-bold mb-2">Pi Beta Chi</h2>
                                <hr class="hr-light">
                                <h3 class="subtext-header mt-4 mb-5">Brotherhood | Character | Leadership | Freedom</h3>
                            </div>
                            <!--<a href="#events" data-offset="100" class="btn btn-info wow fadeInLeft" data-wow-delay="0.2s">Events</a>-->
                            <!--<a href="#courses" data-offset="100" class="btn btn-warning wow fadeInRight" data-wow-delay="0.2s">Courses</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <!--Navigation & Intro-->