             <!--Section: About-->
            <section id="media" class="section mt-4 mb-2"> 
            
                <!--Secion heading-->
                <h1 class="section-heading my-5 py-5 font-bold wow fadeIn" data-wow-delay="0.2s">Media</h1>
            
                <!-- Grid row -->
                <div class="row wow fadeIn" data-wow-delay=".4s">

                    <!-- Grid column -->
                    <div class="col-md-12">

                        <div id="mdb-lightbox-ui"></div>

                        <!-- Full width lightbox -->
                        <div class="mdb-lightbox">

                            <figure class="col-md-3">
                                <a href="assets/NatchezBestLetters.jpg" data-size="1600x1067">
                                    <img src="assets/NatchezBestLetters.jpg" class="img-fluid z-depth-1-half" style="width:600px;height:175px;">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/adoptastreet.jpg" data-size="1600x1067" >
                                    <img src="assets/adoptastreet.jpg" class="img-fluid z-depth-1-half" style="width:600px;height:175px;">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="assets/commservice.jpg" data-size="1600x1067">
                                    <img src="assets/commservice.jpg" class="img-fluid z-depth-1-half" style="width:600px;height:175px;">
                                </a>

                            </figure>
                                <figure class="col-md-3">
                                <a href="assets/habforhumanity.jpg" data-size="1600x1067"> 
                                    <img src="assets/habforhumanity.jpg" class="img-fluid z-depth-1-half" style="width:600px;height:175px;">
                                </a>
                            </figure>                                   

                            </figure>
                                <figure class="col-md-3">
                                <a href="assets/service.jpg" data-size="1600x1067">
                                    <img src="assets/service.jpg" class="img-fluid z-depth-1-half" style="width:600px;height:175px;">
                                </a>
                            </figure>
                            
                             <figure class="col-md-3">
                                <a href="assets/service2.jpg" data-size="1600x1067">
                                    <img src="assets/service2.jpg" class="img-fluid z-depth-1-half" style="width:600px;height:175px;">
                                </a>
                            </figure>

                             <figure class="col-md-3">
                                <a href="assets/service3.jpg" data-size="1600x1067">
                                    <img src="assets/service3.jpg" class="img-fluid z-depth-1-half" style="width:600px;height:175px;">
                                </a>
                            </figure>

                             <figure class="col-md-3">
                                <a href="assets/service4.jpg" data-size="1600x1067">
                                    <img src="assets/service4.jpg" class="img-fluid z-depth-1-half" style="width:600px;height:175px;">
                                </a>
                            </figure>

                             <figure class="col-md-3">
                                <a href="assets/sports.png" data-size="1600x1067">
                                    <img src="assets/sports.png" class="img-fluid z-depth-1-half" style="width:600px;height:175px;">
                                </a>
                            </figure>

                             <figure class="col-md-3">
                                <a href="assets/brotherhood.jpg" data-size="1600x1067">
                                    <img src="assets/brotherhood.jpg" class="img-fluid z-depth-1-half" style="width:600px;height:175px;">
                                </a>
                            </figure>                            

                        </div>
                        <!-- Full width lightbox -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: Gallery -->