             <!--Section: About-->
            <section id="media" class="section mt-4 mb-2"> 
            
                <!--Secion heading-->
                <h1 class="section-heading my-5 py-5 font-bold wow fadeIn" data-wow-delay="0.2s">Media</h1>
            
                <!-- Grid row -->
                <div class="row wow fadeIn" data-wow-delay=".4s">

                    <!-- Grid column -->
                    <div class="col-md-12">

                        <div id="mdb-lightbox-ui"></div>

                        <!-- Full width lightbox -->
                        <div class="mdb-lightbox">
                            
                            <figure class="col-md-3">
                                <a href="assets/houseLetters.jpg" data-size="1600x1067">
                                    <img src="assets/houseLetters.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksAthleticsBig1067x1067.jpg" data-size="1067x1067" >
                                    <img src="assets/cksAthleticsSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>                            

                            <figure class="col-md-3">
                                <a href="assets/hcsAthleticsBig1600x1292.jpg" data-size="1600x1292">
                                    <img src="assets/hcsAthleticsSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksCommServ3Big1217x812.jpg" data-size="1217x812">
                                    <img src="assets/cksCommServ3Small.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>

                            </figure>
                                <figure class="col-md-3">
                                <a href="assets/hcsCommServ1Big854x1067.jpg" data-size="854x1067">
                                    <img src="assets/hcsCommServ1Small.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/hcsCommServ4Big854x1067.jpg" data-size="854x1067">
                                    <img src="assets/hcsCommServ4Small.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="assets/hcsCommServ5Small.jpg" data-size="1600x1067">
                                    <img src="assets/hcsCommServ5Small.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="assets/cksPhilo2Small.jpg" data-size="1600x1067">
                                    <img src="assets/cksPhilo2Small.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="assets/hcsBrotherhoodSmall.jpg" data-size="1600x1067">
                                    <img src="assets/hcsBrotherhoodSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksBrotherhoodSmall.jpg" data-size="1600x1067">
                                    <img src="assets/cksBrotherhoodSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksPinningSmall.jpg" data-size="1600x1067">
                                    <img src="assets/cksPinningSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksSocialSmall.jpg" data-size="1600x1067">
                                    <img src="assets/cksSocialSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksSpring2018PinningSmall.jpg" data-size="1600x1067">
                                    <img src="assets/cksSpring2018PinningSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksFall2017InitiationBig800x1067.jpg" data-size="800x1067">
                                    <img src="assets/cksFall2017InitiationSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksFall2016InitiationSmall.jpg" data-size="1600x1067">
                                    <img src="assets/cksFall2016InitiationSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksFall2015Small.jpg" data-size="1600x1067">
                                    <img src="assets/cksFall2015Small.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksSmall.jpg" data-size="1600x1067">
                                    <img src="assets/cksSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>
                            
                            <figure class="col-md-3">
                                <a href="assets/cksOldSmall.jpg" data-size="1600x1067">
                                    <img src="assets/cksOldSmall.jpg" class="img-fluid z-depth-1-half" style="">
                                </a>
                            </figure>

                        </div>
                        <!-- Full width lightbox -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: Gallery -->