             <!--Section: About-->
            <section id="media" class="section mt-4 mb-2"> 
            
                <!--Secion heading-->
                <h1 class="section-heading my-5 py-5 font-bold wow fadeIn" data-wow-delay="0.2s">Media</h1>
            
                <!-- Grid row -->
                <div class="row wow fadeIn" data-wow-delay=".4s">

                    <!-- Grid column -->
                    <div class="col-md-12">

                        <div id="mdb-lightbox-ui"></div>

                        <!-- Full width lightbox -->
                        <div class="mdb-lightbox">

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(10).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(10).jpg" class="img-fluid z-depth-1-half">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(21).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(21).jpg" class="img-fluid z-depth-1-half">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(11).jpeg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(11).jpg" class="img-fluid z-depth-1-half">
                                </a>

                            </figure>
                                <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(22).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(22).jpg" class="img-fluid z-depth-1-half">
                                </a>
                            </figure>
                            
                             <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(19).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(19).jpg" class="img-fluid z-depth-1-half">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(22).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(22).jpg" class="img-fluid z-depth-1-half">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(20).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(20).jpg" class="img-fluid z-depth-1-half">
                                </a>
                            </figure>

                            <figure class="col-md-3">
                                <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(13).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(13).jpg" class="img-fluid z-depth-1-half">
                                </a>
                            </figure>

                        </div>
                        <!-- Full width lightbox -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: Gallery -->