<!--Navbar-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">
                <!--<a class="navbar-brand" href="#"><strong>Navbar</strong></a>-->
                <a class="navbar-brand" href="#">
                    <img src="assets/new_crest.png" height="140" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--Links-->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="#about" data-offset="100">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#what_we_do" data-offset="100">What We Do</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#resources" data-offset="100">Chapter Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#chapters" data-offset="100">Featured Chapters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#media" data-offset="100">Media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#faq" data-offset="100">FAQ</a>
                        </li>
                    </ul>

                    <!--Social Icons-->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Navbar-->
