<!--Section: Details-->
            <section id="resources" class="section mt-4 mb-5 pb-3">
               
                <!--Section heading-->
                <h1 class="section-heading font-bold my-5 pt-5 pb-4 wow fadeIn" data-wow-delay="0.2s">Chapter Resources</h1>
            
                <!--Section description-->
                <!--<p class="section-description wow fadeIn" data-wow-delay="0.2s">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                
                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s">

                    <!--<div class="col-xl-2 col-md-3"> -->
                    <div class="col-xl-4 col-md-4"> 
                       
                        <!--Nav tabs-->
                        <ul class="nav md-pills pills-primary flex-column" role="tablist">
                        
                            <li class="nav-item" id="resourcenav">
                                <a class="nav-link active" id="leftalign" data-toggle="tab" href="#panel51" role="tab"> Starter By-Laws</a>
                            </li>
                            <li class="nav-item" id="resourcenav">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel52" role="tab"> Leadership Positions and Duties</a>
                            </li>
                            <li class="nav-item" id="resourcenav">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel53" role="tab"> Committee Duties</a>
                            </li>
                            <li class="nav-item" id="resourcenav">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel54" role="tab"> Points System</a>
                            </li>
                            <li class="nav-item" id="resourcenav">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel55" role="tab"> FIPG Policy</a>
                            </li>
                            <li class="nav-item" id="resourcenav">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel56" role="tab"> Pledge Process</a>
                            </li>
                            <li class="nav-item" id="resourcenav">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel57" role="tab"> Member Wellness</a>
                            </li>
                            <li class="nav-item" id="resourcenav">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel58" role="tab"> Property Management Guide</a>
                            </li>                            
                        </ul>
                        
                    </div>

                    <div class="col-xl-8 col-md-8">
                       
                        <!--Tab panels-->
                        <div class="tab-content vertical">

                            <!--Panel 1-->
                            <div class="tab-pane fade show in active" id="panel51" role="tabpanel">
                                <br>
                                
                                <h4 class="mt-4 mb-4 text-center" id="resourcedesc">Starter By-Laws</h4>

                                <p class="text-center">Documentation for this is coming soon.</p>
                                
                                <div class="row " data-wow-delay="0.2s">
                                    <!--First column-->
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-info" id="resourcebutton">Download</button>
                                        <button type="button" class="btn btn-info" id="resourcebutton">Open</button>
                                    </div>
                                    <!--First column-->
                                </div>
                                
                            </div>
                            <!--Panel 1-->
                            
                            <!--Panel 2-->
                            <div class="tab-pane fade" id="panel52" role="tabpanel">
                                <br>
                                
                                <h4 class="mt-4 mb-4 text-center" id="resourcedesc">Leadership Positions and Duties</h4>

                                <p class="text-center">Documentation for this is coming soon.</p>
                                
                                <div class="row " data-wow-delay="0.2s">
                                    <!--First column-->
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-info" id="resourcebutton">Download</button>
                                        <button type="button" class="btn btn-info" id="resourcebutton">Open</button>
                                    </div>
                                    <!--First column-->
                                </div>                                

                            </div>
                            <!--Panel 2-->

                            <!--Panel 3-->
                            <div class="tab-pane fade" id="panel53" role="tabpanel">
                                <br>
                                
                                <h4 class="mt-4 mb-4 text-center" id="resourcedesc">Committee Duties</h4>

                                <p class="text-center">Documentation for this is coming soon.</p>
                                
                                <div class="row " data-wow-delay="0.2s">
                                    <!--First column-->
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-info" id="resourcebutton">Download</button>
                                        <button type="button" class="btn btn-info" id="resourcebutton">Open</button>
                                    </div>
                                    <!--First column-->
                                </div>                            
                            
                            </div>
                            <!--Panel 3-->

                            <!--Panel 4-->
                            <div class="tab-pane fade" id="panel54" role="tabpanel">
                                <br>
                                
                                <h4 class="mt-4 mb-4 text-center" id="resourcedesc">Points System</h4>

                                <p class="text-center">Documentation for this is coming soon.</p>
                                
                                <div class="row " data-wow-delay="0.2s">
                                    <!--First column-->
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-info" id="resourcebutton">Download</button>
                                        <button type="button" class="btn btn-info" id="resourcebutton">Open</button>
                                    </div>
                                    <!--First column-->
                                </div>                                

                            </div>
                            <!--Panel 4-->
                            
                            <!--Panel 5-->
                            <div class="tab-pane fade" id="panel55" role="tabpanel">
                                <br>
                                
                                <h4 class="mt-4 mb-4 text-center" id="resourcedesc">FIPG Policy</h4>

                                <p class="text-center">Documentation for this is coming soon.</p>
                                
                                 <div class="row " data-wow-delay="0.2s">
                                    <!--First column-->
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-info" id="resourcebutton">Download</button>
                                        <button type="button" class="btn btn-info" id="resourcebutton">Open</button>
                                    </div>
                                    <!--First column-->
                                </div>                              

                            </div>
                            <!--Panel 5-->
                            
                            <!--Panel 6-->
                            <div class="tab-pane fade" id="panel56" role="tabpanel">
                                <br>
                                
                                <h4 class="mt-4 mb-4 text-center" id="resourcedesc">Pledge Process</h4>

                                <p class="text-center">Documentation for this is coming soon.</p>
                                
                                <div class="row " data-wow-delay="0.2s">
                                    <!--First column-->
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-info" id="resourcebutton">Download</button>
                                        <button type="button" class="btn btn-info" id="resourcebutton">Open</button>
                                    </div>
                                    <!--First column-->
                                </div>                                

                            </div>
                            <!--Panel 6-->
                            
                            <!--Panel 7-->
                            <div class="tab-pane fade" id="panel57" role="tabpanel">
                                <br>
                                
                                <h4 class="mt-4 mb-4 text-center" id="resourcedesc">Member Wellness</h4>

                                <p class="text-center">Documentation for this is coming soon.</p>
                                
                                <div class="row " data-wow-delay="0.2s">
                                    <!--First column-->
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-info" id="resourcebutton">Download</button>
                                        <button type="button" class="btn btn-info" id="resourcebutton">Open</button>
                                    </div>
                                    <!--First column-->
                                </div>                                

                            </div>
                            <!--Panel 7-->
                            
                            <!--Panel 8-->
                            <div class="tab-pane fade" id="panel58" role="tabpanel">
                                <br>
                                
                                <h4 class="mt-4 mb-4 text-center" id="resourcedesc">Property Management Guide</h4>

                                <p class="text-center">Documentation for this is coming soon.</p>
                                
                                <div class="row " data-wow-delay="0.2s">
                                    <!--First column-->
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-info" id="resourcebutton">Download</button>
                                        <button type="button" class="btn btn-info" id="resourcebutton">Open</button>
                                    </div>
                                    <!--First column-->
                                </div>                                

                            </div>
                            <!--Panel 8-->                            

                        </div>
                        
                    </div>

                </div>
                <!--First row-->
                
            </section>
            <!--Section: Details-->