        <!--Streak-->
        <div class="streak streak-photo streak-md hm-indigo-light" style="background-image: url('assets/patrickhenry');">
            <div class="flex-center mask pattern-1">
                <div class="text-center white-text">
                    <h2 class="h2-responsive mb-5"><i class="fa fa-quote-left" aria-hidden="true"></i> I know not what course others may take, but as for me, give me liberty, or give me death! <i class="fa fa-quote-right" aria-hidden="true"></i></h2>
                    <h5 class="text-center font-italic " data-wow-delay="0.2s">~ Patrick Henry, 1775</h5>
                </div>
            </div>
        </div>
        <!--Streak-->
        
       