        <!--Streak-->
        <div class="streak streak-photo streak-md hm-indigo-light" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20%287%29.jpg');">
            <div class="flex-center mask pattern-1">
                <div class="text-center white-text">
                    <h2 class="h2-responsive mb-5"><i class="fa fa-quote-left" aria-hidden="true"></i> Creativity requires the courage to let go of certainties <i class="fa fa-quote-right" aria-hidden="true"></i></h2>
                    <h5 class="text-center font-italic " data-wow-delay="0.2s">~ Erich Fromm</h5>
                </div>
            </div>
        </div>
        <!--Streak-->