<!--Section: Details-->
            <section id="what_we_do" class="section mt-4 mb-5 pb-3">
               
                <!--Section heading-->
                <h1 class="section-heading font-bold my-5 pt-5 pb-4 wow fadeIn" data-wow-delay="0.2s">What We Do</h1>
            
                <!--Section description-->
                <!--<p class="section-description wow fadeIn" data-wow-delay="0.2s">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                -->
                
                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s">

                    <!--<div class="col-xl-2 col-md-3"> -->
                    <div class="col-xl-4 col-md-4"> 
                       
                        <!--Nav tabs-->
                        <ul class="nav md-pills pills-primary flex-column" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" id="leftalign" data-toggle="tab" href="#panel21" role="tab"><i class="fa fa-mortar-board fa-2x"></i> Academics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel22" role="tab"><i class="fa fa-futbol-o fa-2x"></i> Athletics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel28" role="tab"><i class="fa fa-users fa-2x"></i> Brotherhood</a>
                            </li>                            
                            
                            <li class="nav-item">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel26" role="tab"><i class="fa fa-rocket fa-2x"></i> Entrepreneurialism</a>
                            </li>          
                            <li class="nav-item">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel27" role="tab"><i class="fa fa-handshake-o fa-2x"></i> Networking</a>
                            </li>      
                            <li class="nav-item">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel24" role="tab"><i class="fa fa-money fa-2x"></i> Philanthropy</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel23" role="tab"><i class="fa fa-recycle fa-2x"></i> Service</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="leftalign" data-toggle="tab" href="#panel25" role="tab"><i class="fa fa-music fa-2x"></i> Social</a>
                            </li>


                        </ul>
                        
                    </div>

                    <div class="col-xl-8 col-md-8">
                       
                        <!--Tab panels-->
                        <div class="tab-content vertical">

                            <!--Panel 1-->
                            <div class="tab-pane fade show in active" id="panel21" role="tabpanel">
                                <br>
                                
                                <!--<img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2876%29.jpg" class="img-fluid z-depth-1">-->
                                
                                <h4 class="mb-4 text-center">Academics</h4>

                                <p>“Education is the most powerful weapon which you can use to change the world.” Believing in the merits of this quote by Nelson Mandela, PBX facilitates and encourages its members to achieve excellence in their academics. Our Chapters strategically pick housing near campus libraries, our members often combine their notes and study together, and senior members will pass down their old notes, study guides, and knowledge to younger members. In doing these, PBX provides an educational advantage to its members not enjoyed by outsiders. We are known to graduate with honors and go on to pursue advanced degrees in business, law, and science.</p>

                            </div>
                            <!--Panel 1-->
                            
                            <!--Panel 2-->
                            <div class="tab-pane fade" id="panel22" role="tabpanel">
                                <br>
                                
                                <h4 class="mb-4 text-center">Athletics</h4>

                                <div class = "text-center">
                                    <img id="whatwedoing" src="assets/cksAthleticsWwd.jpg">
                                </div>

                                <p class="mt-4">PBX competes in numerous athletic venues both on and off campus. Our members play on school teams, club teams, community teams, inter-fraternity league teams, and on sorority-fundraiser teams. We also host our own athletic events as fundraisers for our philanthropy and community service initiatives. Additionally, our Chapters often sponsor local children’s teams and coach them as well.</p>

                            </div>
                            <!--Panel 2-->
                            
                            <!--Panel 2-->
                            <div class="tab-pane fade" id="panel28" role="tabpanel">
                                <br>

                                <h4 class="mb-4 text-center">Brotherhood</h4>
                                
                                <div class = "text-center">
                                    <img id="whatwedoing" src="assets/hcsBrotherhoodSmall.jpg">
                                </div>
                                


                                <p class="mt-4">PBX is a Brotherhood unlike any other. Shared experiences and time-spent-together are what create the bonds of a strong Brotherhood. To build these bonds, each Chapter has a Brotherhood Committee which plans events and outings to get their members together and having memorable experiences. Brotherhood events can include things as simple as ordering pizza and watching sports at the Chapter house, bowling, river tubing trips, and paintball. They can also include things as grand as camping trips, rafting through the Grand Canyon for a week, heli-skiing trips, and international travel.</p>

                            </div>
                            <!--Panel 2-->  
                            
                            <!--Panel 6-->
                            <div class="tab-pane fade" id="panel26" role="tabpanel">
                                <br>
                                
                                <!--<img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2877%29.jpg" class="img-fluid z-depth-1">-->
                                
                                <h4 class="mb-4 text-center">Entrepreneurialism</h4>

                                <p>Fraternity life is a constant collaboration between like-minded individuals with similar ethics and ambitions. This environment appeals to driven and hard workers, and it spurs unique and progressive ideas which often turn in to entrepreneurial initiatives born right out of the Chapter house. Furthermore, running a Fraternity is great practice for running a business as it teaches you how to create and manage a budget, enforce a risk management policy, interface with school and public officials, lease and manage real estate, build and market your Chapter’s brand, recruit new members, compete with other organizations, manage an insurance policy, maintain a legal entity, stay in good standing with the IRS, and more – an outstanding educational experience not replicable in a classroom.</p>

                            </div>
                            <!--Panel 6-->  
                            
                            <!--Panel 7-->
                            <div class="tab-pane fade" id="panel27" role="tabpanel">
                                <br>
                                
                                <!--<img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2878%29.jpg" class="img-fluid z-depth-1">-->
                                
                                <h4 class="mb-4 text-center">Networking</h4>

                                <p>A great benefit of PBX membership is being in a broad but tight network of Brothers from all Chapters, their alumni, and their families. This network can be utilized to collect donations and investments, to find summer lodging during an internship, to review resumes, to apply for jobs, to find friends in a new city, to partner with on a startup, etc. Our members also network with sororities and the rest of Greek Life, women’s school and club sports teams, and other school organizations such as the school newspaper and student government. Outside of school, we network with City Councils, community service and philanthropy organizations, political and civil rights organizations, and more. In short, our members meet and work with a lot of people, and our alumni like to help out their successors.</p>

                            </div>
                            <!--Panel 7-->                            
                            
                            <!--Panel 4-->
                            <div class="tab-pane fade" id="panel24" role="tabpanel">
                                <br>
                                
                                <h4 class="mb-4 text-center">Philanthropy</h4>                                
                                
                                <div class = "text-center">
                                    <img id="whatwedoing" src="assets/cksPhilo2Small.jpg">
                                </div>

                                <p class="mt-4">Philanthropy is a powerful way to positively influence the world. As such, PBX supports numerous philanthropy organizations to help the less fortunate and advance honorable causes. We do this by hosting fundraisers, collecting donations from parents and alumni, and raising awareness for our sponsored organizations. Our causes and organizations include cancer research with the Jimmy V Foundation, building strong youth with the Boys and Girls Club, supporting our veterans with the Wounded Warrior Project, and more. Because PBX promotes Chapter freedom and individuality, each Chapter chooses their own organizations to support. </p>

                            </div>
                            <!--Panel 4-->
                            
                            <!--Panel 3-->
                            <div class="tab-pane fade" id="panel23" role="tabpanel">
                                <br>
                                
                                <h4 class="mb-4 text-center">Community Service</h4>                                 

                                <div class = "text-center">
                                    <img id="whatwedoing" src="assets/cksCommServ3Wwd.jpg">
                                </div>

                                <p class="mt-4">Our Chapters are proud and loyal members of their communities which we enjoy every opportunity to give back to. Our community service initiatives include adopting neighborhood streets to keep clean, cooking for the homeless, being mentors for the Big Brothers Big Sisters organization, volunteering at local schools, fostering animals, hosting barbecues for emergency responders, building homes with the Habitat for Humanity organization, and hosting donation drives. Every community is unique, so each Chapter chooses their own community service initiatives to be most helpful to their specific community.</p>

                            </div>
                            <!--Panel 3-->


                            
                            <!--Panel 5-->
                            <div class="tab-pane fade" id="panel25" role="tabpanel">
                                <br>
                                
                                <!--<img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2878%29.jpg" class="img-fluid z-depth-1">-->
                                
                                <h4 class="mb-4 text-center">Social</h4>
                                
                                <div class = "text-center">
                                    <img id="whatwedoing" src="assets/2_24_16.jpg">
                                </div>                                

                                <p class="mt-4">As a social organization, our Chapters responsibly host and attend house parties, basement parties, lawn parties, band parties, pig roasts, seafood boils, formals, semi-formals, reunions, anniversaries, and mixers with sororities and women’s sports teams and clubs. Our social events are often in correlation with our philanthropic efforts, such as when we have a pig roast and invite the community to come and donate to our sponsored philanthropy organizations. </p>

                            </div>
                            <!--Panel 5-->
                            

                            


                        </div>
                        
                    </div>

                </div>
                <!--First row-->
                
            </section>
            <!--Section: Details-->